
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');



:root{
    --preto: #101010; 
    --preto-login: #171717;
    --vermelho: #BA1D0A;
    --fonte: "IBM Plex Sans";
    --cor-input: #282828;
    --cor-olho: #615f5f;
}

*{
    margin: 0;
    padding: 0;  
    overflow-x: hidden;  
}

body{
    background-color: var(--preto);
    height: 100vh;
    border-bottom: 2px solid var(--vermelho);
    width: 100vw;
     display: flex;
    justify-content: center;
    color: white;
    font-family: var(--fonte);
}

main{
    background-color: var(--preto-login);
   border: 2px solid var(--vermelho);
   padding: 60px;
   font-family: var(--fonte);
   overflow-y: hidden;
}

main h1{
    font-family: var(--fonte);
    color: white;
    font-size: 24px;
    font-weight: 300;
}

main img{
    width: 394px;
    margin-bottom: 30px; 

}

.input{
    font-size: 15px;
}

form{
    margin-top: 40px;

}

.input input{
    margin-top: 6px;
    width: 394px;
    height: 55px;
    background-color: var(--cor-input);
    border-style: none;
}

.input input::placeholder{
    padding: 25px;
}
#password{
    background-color:var(--cor-input
    ) ;
    max-width: 394px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#password input{
    background-color: transparent;
    width: 350px;
    height: 25px;
    margin-bottom: 10px;
    
}

#password button{
 height: 30px;
 width: 30px;
 background-color: transparent;
 border: none;
 margin-right: 10px ;
}

#password button i{
    color: var(--cor-olho);
}

#login{
    width: 394px;
    height: 67px;
    font-family: var(--fonte);
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: var(--vermelho);
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

#help{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 13px;
    max-width: 394px;
}

#conectado{
    display: flex;
    justify-content: space-between;
}

#conectado input{
    margin-right: 20px;
}

fieldset{
    border: none;
    border-top:  1px solid rgba(255, 255, 255, .185);
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
}

fieldset legend{
    padding: 0px 20px;
    text-transform: uppercase;
}

fieldset button{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .185);
    color: var(--cor-olho);
    height: 41px;
    width: 110px;
    margin: 0px 10px;
}

#cadastro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#cadastro a{
    padding: 0px 0px 0px 5px;
    text-decoration: underline;
    color: var(--vermelho);
    text-transform: uppercase;

}

